@{
    ViewBag.Title = "About";
}
<style>
    .bg_image {
        height: 85vh;
        background-image: url("/Content/img/IndexImg/POS Banner_8.jpg");
        background-repeat: round !important;
    }
</style>
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 bg_image"></div>
   
