
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        <h1>Store Delivery</h1>
    </div>
    <div class="page-toolbar">
        <a href="@Url.Action("CreateOrEdit", "StoreDelivery")" class="btn btn-circle btn-success"><i class="fa fa-plus-circle"></i> New Delivery</a>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Shop Delivery List
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="RequisitionList">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th> Shop Name </th>
                        <th> Delivery Challan Number </th>
                        <th> Receive Challan Number </th>
                        <th> Requisition No</th>
                        <th> Requisition Date </th>
                        <th> Shop Received  </th>
                        <th> Received By </th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="StoreDeliveryItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Store Delivery</h4>
            </div>
            <div class="modal-body">

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> Delivery Item</span>

                        </div>
                    </div>
                    <div class="portlet-body scroller" style="height: 350px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="SelectStoreDeliveryItemTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Store Delivery Number
                                        </th>
                                        <th>
                                            BarCode
                                        </th>
                                        <th>
                                            Item Name
                                        </th>                                        
                                        <th>
                                            Sale Price
                                        </th>
                                        <th>
                                            Delivery Quantity
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="ModalStoreDeliveryItemListTableBody">

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>

    
    jQuery(document).ready(function () {


        //var table = $("#RequisitionList").dataTable();
        @{
            if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
            {
            <text>
                var message = '@ViewBag.message';


                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.success(message);
            </text>
            }
        }
        var table = $("#RequisitionList").dataTable({
            
            "processing": true,
            "serverSide": true,
            "searchHighlight": true,
            "ajax": {
                url: '@Url.Action("GetStoreDeliveryList", "StoreDelivery")',
                type: 'POST'
            },
            "columns": [
                {
                    "data": "DeliveryNumber",
                    "orderable": false,
                    render: function (data, type, object) {
                        return "<input type = 'hidden' class ='deliveryNumber' value = '" + object.DeliveryNumber + "' />" +
                        "<span class='row-details row-details-close'></span>";;
                           
                    }
                },
                {
                    "data": "DeliveryShopId",
                    render: function (data, type, object) {
                        return "<p class='productCode'>" + object.DeliveryShopName +"</p>";
                    }
                },
                {
                    "data": "DeliveryNumber"
                    
                }, {
                    "data": "PurchaseReceiveNumber"

                },
                {
                    "data": "RequistionNo",
                    render: function (data, type, object) {
                        return "<p class='itemName'>" + object.RequistionNo + "</p>";
                    }
                },
                {
                    "data": "DeliveryDate",
                    render: function (data, type, object) {
                        return "<p class='deliveryDate'>" + object.DeliveryDate + "</p>";
                    }
                },
                {
                    "data": "Receive_YN",
                    "orderable": false,
                    render: function (data, type, object) {
                        //return "<p class='receiveYN'>" + object.Receive_YN + "</p>";
                        if (object.Receive_YN === "Y") {
                            return "<p style='font-size: 16px;color: green;font-style: italic;text-transform: capitalize;font-weight: bold;letter-spacing: 1px;text-shadow: 1px 1px 1px grey;'> Received </p>";
                        } else {
                            return "<p style='font-size: 16px;color: red;font-style: italic;text-transform: capitalize;font-weight: bold;letter-spacing: 1px;text-shadow: 1px 1px 1px grey;'> Not Received </p>";
                        }
                    }

                },
                {
                    "data": "ReceivedBy",
                    "orderable": false,
                    render: function (data, type, object) {
                        return "<p class='receivedBy'>" + object.ReceivedBy + "</p>";
                    }
                },
                {
                    "data": "DeliveryNumber",
                    "orderable": false,
                    render: function (data, type, object) {
                        return "<a href='#' class='btn btn-circle blue shopDeliveryReport' data-id=" + object.DeliveryNumber+"><i class='fa fa-eye'></i> Show Report</a>" +
                            "<a href='#' class='btn btn-circle green shopGovtDeliveryReport' data-id=" + object.DeliveryNumber +"><i class='fa fa-print'></i> Show Challan Report</a>";

                    }
                }
                
            ]
        });
       
        table.on('click', ' tbody td .row-details', function () {
            var allValue = $(this).parents('tr')[0];
            var tableData = table.fnGetData(allValue);
            var deliveryNumberFromTable = tableData.DeliveryNumber;

            $.ajax({
                url: "/StoreDelivery/GetStoreDeliveryItemList",
                type: 'GET',
                data: { storeDeliveryNumber: deliveryNumberFromTable },
                dataType: 'json',
                success: function (json) {
         
                    if (json.length) {

                        if (table.fnIsOpen(allValue)) {
                            $(this).addClass("row-details-close").removeClass("row-details-open");
                            table.fnClose(allValue);
                        }
                        else {
                            $(this).addClass("row-details-open").removeClass("row-details-close");
                            var sOut = '<table class="table table-striped table-bordered table-hover">';
                            sOut += '<thead>';
                            sOut += '<tr><th>#</th> <th>Product Item Name</th> <th>Product Barcode</th> <th>Sale Price</th><th>Delivery Quantity</th></tr>';
                            sOut += '</thead>';
                            sOut += '<tbody>';
                            $.each(json, function (i, item) {

                                sOut += '<tr><td>' + parseInt(i + 1) + '</td><td>' + item.ItemName + '</td><td>' + item.Barcode + '</td><td>' + item.SalePrice + '</td><td>' + item.DeliveryQuantity + '</td></tr>';

                            });
                            sOut += '</tbody>';
                            sOut += '</table>';
                            table.fnOpen(allValue, sOut, 'details');


                        }
                    } else {
                        toastr.error("This Product Have No Item !!.");
                    }
                }
            });

        });


        $("#RequisitionList").on('click',
            '.shopDeliveryReport',
            function () {
                var deliveryNumber = $(this).data('id');
                if (deliveryNumber !== null) {
                    window.open('/StoreDelivery/ShowReport?storeDeliveryNo=' + deliveryNumber, '_blank');
                }
            });


        $("#RequisitionList").on('click',
            '.shopGovtDeliveryReport',
            function () {
                var deliveryNumber = $(this).data('id');
                if (deliveryNumber !== null) {
                    window.open('/StoreDelivery/ShowReportGovtFormate?storeDeliveryNo=' + deliveryNumber, '_blank');
                }
            });


    });
</script>